#night_mode {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--day-black);
}
#night_mode:after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    bottom: 30%;
    left: 40%;
    background-color: var(--day-white);
}
#night_mode:hover {
    cursor: pointer;
}